NODE_ENV=development

# Application
APP_NAME=lookerdevelopers-stores-svc-backoffice
API_VERSION=1
HOST=127.0.0.1
PORT=6001
PATH_PREFIX=ms

# Database
DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=looker-developers
DB_MAX_CONNECTIONS=10
DB_MIN_CONNECTIONS=1
# Logs SQL querys into console
DB_LOGGER=true
# Set in true if provide client-cert.pem client-key.pem server-ca.pem
DB_SSL=false

# Redis
ENABLE_REDIS=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CA=





